<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Lab 01: Getting Started with React Native</title>
</head>
<body>
<xmp>

# Lab 01: Getting Started with React Native

---

## Your First App: Hello World

### Create a New App

* Use the React Native CLI to generate a new React Native project called `HelloWorld`:

```
react-native init HelloWorld
```

### Run the App

* Run `react-native run-android` inside your React Native project folder:

```
cd HelloWorld
react-native run-android
```

### Modify the App

* Open `App.js` in your text editor of choice and edit as follows:

```javascript
import React, { Component } from 'react';
import {
  Text,
} from 'react-native';

export default class App extends Component<Props> {
  render() {
    return (
      <Text>Hello World</Text>
    );
  }
}
```

* Double press **R** to reload the app.

### Adding Style

* In React Native, we style our app using JavaScript.

* All core components accept a prop named `style`.

  * The style names and values usually match how CSS works on the web, except names are written using camel casing, e.g `backgroundColor` instead of `background-color`.

    * The `style` prop can be a plain old JavaScript object:
	
	```javascript
	<View style={{width: 50, height: 50, backgroundColor: 'powderblue'}} />
	```
	
	* Alternatively, pass an array of styles - the last style in the array has precedence, so you can use this to inherit styles.
	

* As a component grows in complexity, it is often cleaner to use `StyleSheet.create` to define several styles in one place.

```javascript
import React, { Component } from 'react';
import {
  StyleSheet,
  View,
  Text,
} from 'react-native';

export default class App extends Component<Props> {
  render() {
    return (
      <View>
        <Text style={styles.heading1}>Hello World</Text>
        <Text style={styles.heading2}>This is a React Native app</Text>
        <Text style={styles.heading2}>Mobile app development made easy</Text>
      </View>
    );
  }
}

const styles = StyleSheet.create({
  heading1: {
    color: 'blue',
    fontWeight: 'bold',
    fontSize: 48,
  },
  heading2: {
    color: 'red',
    fontSize: 24,
  },
});
```


---

## Simple Calculator

* Create a new app named `SimpleCalculator`.

* Open `App.js` and edit as follows:

```javascript
import React, { Component } from 'react';
import {
  StyleSheet,
  View,
  Text,
  TextInput,
} from 'react-native';

export default class App extends Component<Props> {
  constructor(props) {
    super(props);
    this.state = {
        x: '0',
        y: '0',
        sum: '0',
        difference: '0',
    };
  }

  render() {
    return (
      <View>
        <View>
          <Text style={styles.label}>
            First Number
          </Text>
          <TextInput
            style={styles.input}
            onChangeText={(x) => {
                this.setState({
                    x: x,
                    sum: (Number(x) + Number(this.state.y)).toString(),
                    difference: (Number(x) - Number(this.state.y)).toString(),
                })
            }}
            value={this.state.x}
            keyboardType={'numeric'}
            selectTextOnFocus={true}
          />
        </View>
        <View>
          <Text style={styles.label}>
            Second Number
          </Text>
          <TextInput
            style={styles.input}
            onChangeText={(y) => {
                this.setState({
                    y: y,
                    sum: (Number(this.state.x) + Number(y)).toString(),
                    difference: (Number(this.state.x) - Number(y)).toString(),
                })
            }}
            value={this.state.y}
            keyboardType={'numeric'}
            selectTextOnFocus={true}
          />
        </View>
        <View>
          <Text style={styles.label}>
            Sum
          </Text>
          <TextInput
            style={styles.result}
            value={this.state.sum}
            editable={false}
          />
        </View>
        <View>
          <Text style={styles.label}>
            Difference
          </Text>
          <TextInput
            style={styles.result}
            value={this.state.difference}
            editable={false}
          />
        </View>
      </View>
    );
  }
}

const styles = StyleSheet.create({
  label: {
    color: 'red',
    fontWeight: 'bold',
    fontSize: 24,
    margin: 5,
  },
  input: {
    color: 'blue',
    fontSize: 24,
    margin: 5,
    textAlign: 'right',
  },
  result: {
    color: 'green',
    fontSize: 24,
    fontWeight: 'bold',
    margin: 5,
    textAlign: 'right',
  }
});
```

* In the construtor method of the above code:

  ```javascript
  constructor(props) {
    super(props);
    this.state = {
        x: '0',
        y: '0',
        sum: '0',
        difference: '0',
    };
  }
  ```
  
  * We initialize the **states** of our `App` component, namely `x`, `y`, `sum`, & `difference` to `'0'` (string).


* Pay attention to the `<TextInput>` components above.

  * For the first `<TextInput>` component:
  
    ```javascript
	<TextInput
	  style={styles.input}
	  onChangeText={(x) => {
		  this.setState({
			  x: x,
			  sum: (Number(x) + Number(this.state.y)).toString(),
			  difference: (Number(x) - Number(this.state.y)).toString(),
		  })
	  }}
	  value={this.state.x}
	  keyboardType={'numeric'}
	  selectTextOnFocus={true}
	/>
	```
	
	* The `onChangeText` prop contains a function that sets the state `x` to the value of the user input when the text is changed. When the state `x` is changed, the component will be re-rendered with the new value reflected. It also calculates the sum & difference and sets the states `sum` & `difference` accordingly. This will also cause the component to be re-rendered so that the 3rd & 4th `<TextInput>` components display the result of the computation.
	
	* The `value` prop takes the value of the state `x`.
	
	* The `keyboardType` prop specifies that the onscreen keyboard is a numeric type keyboard, allowing only numeric input.
	
	* The `selectTextOnFocus` prop specifies whether the existing text will be selected on focus.
	
	* The above explanation is similar for the second `<TextInput>` component.
	
  * In the 3rd & 4th `<TextInput>` components, the `editable` prop specifies whether the input is editable. Setting it to `true` prevents any user input. This is useful to display results of computations.

---

## Exercises

1. Modify the **SimpleCalculator** app to add computations for **product**.

2. Construct a React Native app that accepts as input the x- & y-coordinates of 2 points. The app calculates and displays the mid-point x- & y-coordinates.


</xmp> 
<script type="text/javascript" src="https://cdn.rawgit.com/Naereen/StrapDown.js/master/strapdown.min.js?mathjax=y&src=example5&theme=united"></script>
</body>
</html>